:root {
    --green: rgb(67, 163, 93);
    --blue: rgb(52, 125, 235);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

html {
    font-family: sans-serif;
}

header {
    height: 20vh;
    width: 100vw;
    background-color: rgb(67, 163, 93);
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 40px;
    margin-right: 20px;
}

section {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .filters {
    height: 10vh;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filters button {
    background-color: var(--blue);
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    margin: 0 10px;
}

.filters button:hover {
    opacity: 0.7;
    transform: scale(1.02);
}

.filters button:active {
    opacity: 0.9;
    transform: scale(1.05);
}

.search-area {
    display: flex;
    align-items: center;
    gap: 5px;
}

#book-search {
    width: 32vh;
    height: 25px;
    border-radius: 8px;
    border-color: black;
    padding: 0 10px;
}

.books-list {
    height: 60vh;
    overflow-y: scroll;
}

thead {
    position: sticky;
    top: 0;    
}

footer {
    height: 5vh;
    width: 100vw;
    background-color: rgb(190,190,190);
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

tr td:first-child img {
    height: 15px;
    margin-right: 5px;
}

tr td:last-child img {
    padding: 0 20px;
    cursor: pointer;
}


tr img:hover {
    opacity: 0.7;
    transform: scale(1.1);

}
tr img:active {
    opacity: 0.9;
    transform: scale(1.15);
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    width: calc((80vw/6))
}

th {
    background-color: rgb(235,235,235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}





/* MODALS */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  /* Modal Content/Box */
.modal-header {
    padding: 30px;
    text-align: center;
    background-color: rgb(190,190,190);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    border: 1px solid #888;
    width: 30%;
}

.modal-content li {
    list-style: none;
    padding: 10px;

    display: flex;
    justify-content: center;
}

.modal-content form label {
    min-width: 100px;
}

.modal-content form input {
    min-width: 200px;
    height: 25px;
    border-radius: 8px;
    border-color: black;
    padding: 0 10px;
}

.modal-content .buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.modal-content button {
    background-color: var(--blue);
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    margin: 0 10px;
}

.modal-content button:hover {
    opacity: 0.7;
    transform: scale(1.02);
}

.modal-content button:active {
    opacity: 0.9;
    transform: scale(1.05);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -30px;
    right: -20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
